.calculator__buttons {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 1rem;
}
.calculator__button {
  display: grid;
  justify-content: center;
  align-content: center;
  color: #7a8387;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.5), -1px -1px rgba(0, 0, 0, 0.5);
  background-color: #636e72;
  border: 5px solid;
  border-top-color: rgba(255, 255, 255, 0.7);
  border-left-color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.1);
  border-right-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  user-select: none;
  cursor: pointer;
  transition: all 0.1s linear;
}

.calculator__button:active {
  transform: scale(0.98);
  color: #dfe6e9;
}

.calculator__button.big {
  grid-column: 4;
  grid-row: 2 / 6;
  font-size: 7rem;
  color: #0984e3;
  text-shadow: 1px 1px rgb(134, 186, 225), -1px -1px rgb(6, 71, 121);
  background-color: #0984e3;
  transition: all 0.2s linear;
}

.calculator__button.big:active {
  transform: scale(0.99);
  color: #dfe6e9;
}
