.calculator__display {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 14rem;
  margin-bottom: 1.5rem;
  padding: 0 2.5rem;
  text-align: right;
  line-height: 1.2;
  background-color: #b2bec3;
  border: 5px solid;
  border-top-color: rgba(255, 255, 255, 0.9);
  border-left-color: rgba(255, 255, 255, 0.7);
  border-bottom-color: rgba(255, 255, 255, 0.3);
  border-right-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  overflow-x: auto;
}

.calculator__expression {
  font-size: 2.2rem;
  color: #636e72;
}

.calculator__result {
  font-family: 'Orbitron', sans-serif;
  font-weight: 400;
  font-size: 5.5rem;
  line-height: 1;
  color: #2d3436;
}

@media (max-width: 54rem) {
  .calculator__display {
    height: 6rem;
    margin-bottom: 0.5rem;
    padding: 0 1rem;
    border: 3px solid;
  }

  .calculator__expression {
    font-size: 1.5rem;
    color: #636e72;
  }

  .calculator__result {
    font-size: 2.5rem;
  }
}