.calculator {
  width: 50rem;
  height: 50rem;
  padding: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translate(-50%, -50%);
  background-color: #2d3436;
  border: 7px solid;
  border-top-color: rgba(255, 255, 255, 0.7);
  border-left-color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.2);
  border-right-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  box-shadow: 1px 3px 25px rgba(0, 0, 0, 0.5);
}

@media (max-width: 54rem) {
  .calculator {
    width: 31rem;
    height: 45rem;
    padding: 0.5rem;
    border: 3px solid;
  }
}